menu "Platform settings"

choice
	prompt "Processor core"
	default CORE_X86_64

	config CORE_X86
		bool "x86"

	config CORE_X86_64
		bool "x86_64"

	config CORE_CORTEX_M0
		bool "Cortex-M0"

	config CORE_CORTEX_M3
		bool "Cortex-M3"

	config CORE_CORTEX_M4
		bool "Cortex-M4"
endchoice

choice
	prompt "Processor family"
	default FAMILY_LINUX_GENERIC

	config FAMILY_LINUX_GENERIC
		bool "Generic Linux"
		depends on CORE_X86 || CORE_X86_64

	config FAMILY_LPC11XX
		bool "NXP LPC11xx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC11EXX
		bool "NXP LPC11Exx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC13XX
		bool "NXP LPC13xx"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC17XX
		bool "NXP LPC175x and LPC176x"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC43XX
		bool "NXP LPC43xx"
		depends on CORE_CORTEX_M4

	config FAMILY_STM32F1XX
		bool "ST STM32F1xx"
		depends on CORE_CORTEX_M3
endchoice

config DISABLE_DEINIT
	bool "Disable destructors"
	default n

endmenu

menu "Core settings"

source "core/Kconfig"

endmenu

menu "Peripheral drivers"

source "generic/Kconfig"
source "platform/Kconfig"
source "usb/Kconfig"

endmenu
