choice
	prompt "Processor core"
	default CORE_CORTEX_M0

	config CORE_CORTEX_M0
		bool "Cortex-M0"

	config CORE_CORTEX_M3
		bool "Cortex-M3"

	config CORE_CORTEX_M4
		bool "Cortex-M4"
endchoice

choice
	prompt "Processor family"
	default FAMILY_LPC11XX

	config FAMILY_LPC11XX
		bool "NXP LPC11xx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC11EXX
		bool "NXP LPC11Exx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC13XX
		bool "NXP LPC13xx"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC17XX
		bool "NXP LPC175x and LPC176x"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC43XX
		bool "NXP LPC43xx"
		depends on CORE_CORTEX_M4

	config FAMILY_STM32F1XX
		bool "ST STM32F1xx"
		depends on CORE_CORTEX_M3
endchoice

menu "Core settings"

source "core/kconfig"

endmenu

menu "Peripheral drivers"

source "generic/kconfig"
source "platform/kconfig"
source "usb/kconfig"

endmenu

menu "Build options"

choice
	prompt "Optimization level"
	default OPTIMIZATIONS_DISABLED

	config OPTIMIZATIONS_DISABLED
		bool "None"

	config OPTIMIZATIONS_SIZE
		bool "Size"

	config OPTIMIZATIONS_FULL
		bool "Full"

	config OPTIMIZATIONS_DEBUG
		bool "Debug"
endchoice

config ASSERTIONS
	bool "Enable assertions"
	depends on (OPTIMIZATIONS_DISABLED || OPTIMIZATIONS_DEBUG)
	default y

config LTO
	bool "Link Time Optimization"
	depends on (OPTIMIZATIONS_SIZE || OPTIMIZATIONS_FULL)
	default y

endmenu
