choice
	prompt "Processor core"
	default CORE_X86_64

	config CORE_X86
		bool "x86"

	config CORE_X86_64
		bool "x86_64"

	config CORE_CORTEX_M0
		bool "Cortex-M0"

	config CORE_CORTEX_M3
		bool "Cortex-M3"

	config CORE_CORTEX_M4
		bool "Cortex-M4"

	config CORE_CORTEX_M7
		bool "Cortex-M7"
endchoice

choice
	prompt "Processor family"
	default FAMILY_GENERIC_POSIX

	config FAMILY_GENERIC_POSIX
		bool "Generic POSIX"
		depends on CORE_X86 || CORE_X86_64

	config FAMILY_IMXRT106X
		bool "NXP i.MX RT106x"
		depends on CORE_CORTEX_M7

	config FAMILY_LPC11XX
		bool "NXP LPC11xx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC11EXX
		bool "NXP LPC11Exx"
		depends on CORE_CORTEX_M0

	config FAMILY_LPC13XX
		bool "NXP LPC13xx"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC13UXX
		bool "NXP LPC13Uxx"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC17XX
		bool "NXP LPC175x and LPC176x"
		depends on CORE_CORTEX_M3

	config FAMILY_LPC43XX_M4
		bool "NXP LPC43xx"
		select FAMILY_LPC43XX
		depends on CORE_CORTEX_M4

	config FAMILY_LPC43XX_M0APP
		bool "NXP LPC43xx M0APP"
		select FAMILY_LPC43XX
		depends on CORE_CORTEX_M0

	config FAMILY_LPC43XX_M0SUB
		bool "NXP LPC43xx M0SUB"
		select FAMILY_LPC43XX
		depends on CORE_CORTEX_M0

	config FAMILY_M03X
		bool "Nuvoton M03x"
		depends on CORE_CORTEX_M0

	config FAMILY_M48X
		bool "Nuvoton M48x"
		depends on CORE_CORTEX_M4

	config FAMILY_STM32F0XX
		bool "ST STM32F0xx"
		depends on CORE_CORTEX_M0

	config FAMILY_STM32F1XX
		bool "ST STM32F1xx"
		depends on CORE_CORTEX_M3

	config FAMILY_STM32F4XX
		bool "ST STM32F4xx"
		depends on CORE_CORTEX_M4
endchoice

config FAMILY_LPC43XX
	bool
	default y
	depends on FAMILY_LPC43XX_M4 || FAMILY_LPC43XX_M0APP || FAMILY_LPC43XX_M0SUB

menu "Core settings"

source "core/Kconfig"

endmenu

menu "Peripheral drivers"

source "generic/Kconfig"
source "platform/Kconfig"
source "usb/Kconfig"

endmenu
