menu "Enabled peripherals"

menu "General Purpose Timers"

config PLATFORM_STM32_TIM1
	bool "TIM1"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE

config PLATFORM_STM32_TIM2
	bool "TIM2"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE

config PLATFORM_STM32_TIM3
	bool "TIM3"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE

config PLATFORM_STM32_TIM4
	bool "TIM4"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE

config PLATFORM_STM32_TIM5
	bool "TIM5"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE

config PLATFORM_STM32_TIM6
	bool "TIM6"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM6 is available on high-density and XL-density
	  STM32F101 and STM32F103 devices and connectivity line devices only.

config PLATFORM_STM32_TIM7
	bool "TIM7"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM7 is available on high-density and XL-density
	  STM32F101 and STM32F103 devices and connectivity line devices only.

config PLATFORM_STM32_TIM8
	bool "TIM8"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM8 is available on high-density and XL-density STM32F103 devices only.

config PLATFORM_STM32_TIM9
	bool "TIM9"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM9 is available on XL-density devices only

config PLATFORM_STM32_TIM10
	bool "TIM10"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM10 is available on XL-density devices only

config PLATFORM_STM32_TIM11
	bool "TIM11"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM11 is available on XL-density devices only

config PLATFORM_STM32_TIM12
	bool "TIM12"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM12 is available on XL-density devices only

config PLATFORM_STM32_TIM13
	bool "TIM13"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM13 is available on XL-density devices only

config PLATFORM_STM32_TIM14
	bool "TIM14"
	default y
	depends on PLATFORM_STM32_GPTIMER_BASE
	help
	  TIM14 is available on XL-density devices only

endmenu

menu "UART"

config PLATFORM_STM32_USART1
	bool "USART1"
	default y
	depends on PLATFORM_STM32_UART_BASE

config PLATFORM_STM32_USART2
	bool "USART2"
	default y
	depends on PLATFORM_STM32_UART_BASE

config PLATFORM_STM32_USART3
	bool "USART3"
	default y
	depends on PLATFORM_STM32_UART_BASE

config PLATFORM_STM32_UART4
	bool "UART4"
	default y
	depends on PLATFORM_STM32_UART_BASE
	help
	  UART4 is available on STM32F105 and STM32F107 devices only.

config PLATFORM_STM32_UART5
	bool "UART5"
	default y
	depends on PLATFORM_STM32_UART_BASE
	help
	  UART5 is available on STM32F105 and STM32F107 devices only

endmenu

endmenu
