menu "Enabled peripherals"

menu "BPWM"

config PLATFORM_NUMICRO_BPWM0
	bool "BPWM0"
	default y
	depends on PLATFORM_NUMICRO_BPWM_BASE

config PLATFORM_NUMICRO_BPWM1
	bool "BPWM1"
	default y
	depends on PLATFORM_NUMICRO_BPWM_BASE

endmenu

menu "CAN"

config PLATFORM_NUMICRO_CAN0
	bool "CAN0"
	default y
	depends on PLATFORM_NUMICRO_CAN

config PLATFORM_NUMICRO_CAN1
	bool "CAN1"
	default y
	depends on PLATFORM_NUMICRO_CAN

config PLATFORM_NUMICRO_CAN2
	bool "CAN2"
	default y
	depends on PLATFORM_NUMICRO_CAN

endmenu

menu "EADC"

config PLATFORM_NUMICRO_EADC0
	bool "EADC0"
	default y
	depends on PLATFORM_NUMICRO_EADC_BASE

config PLATFORM_NUMICRO_EADC1
	bool "EADC1"
	default y
	depends on PLATFORM_NUMICRO_EADC_BASE

endmenu

menu "I2C"

config PLATFORM_NUMICRO_I2C0
	bool "I2C0"
	default y
	depends on PLATFORM_NUMICRO_I2C_BASE

config PLATFORM_NUMICRO_I2C1
	bool "I2C1"
	default y
	depends on PLATFORM_NUMICRO_I2C_BASE

config PLATFORM_NUMICRO_I2C2
	bool "I2C2"
	default y
	depends on PLATFORM_NUMICRO_I2C_BASE

endmenu

menu "SDH"

config PLATFORM_NUMICRO_SDH0
	bool "SDH0"
	default y
	depends on PLATFORM_NUMICRO_SDH

config PLATFORM_NUMICRO_SDH1
	bool "SDH1"
	default y
	depends on PLATFORM_NUMICRO_SDH

endmenu

menu "SPI"

config PLATFORM_NUMICRO_SPI0
	bool "SPI0"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI1
	bool "SPI1"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI2
	bool "SPI2"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI3
	bool "SPI3"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

endmenu

menu "QSPI"

config PLATFORM_NUMICRO_QSPI0
	bool "QSPI0"
	default y
	depends on PLATFORM_NUMICRO_QSPI_BASE

config PLATFORM_NUMICRO_QSPI1
	bool "QSPI1"
	default y
	depends on PLATFORM_NUMICRO_QSPI_BASE

endmenu

menu "UART"

config PLATFORM_NUMICRO_UART0
	bool "UART0"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART1
	bool "UART1"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART2
	bool "UART2"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART3
	bool "UART3"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART4
	bool "UART4"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART5
	bool "UART5"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART6
	bool "UART6"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART7
	bool "UART7"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

endmenu

menu "USB"

config PLATFORM_NUMICRO_USB_FS
	bool "FS USB"
	default y
	depends on PLATFORM_USB

config PLATFORM_NUMICRO_USB_HS
	bool "HS USB"
	default y
	depends on PLATFORM_USB

endmenu

endmenu
