menu "Power settings"

config PM
	bool "Power management"
	default y
	help
	  This enables support for power management features.

endmenu

menu "Peripherals"

config PLATFORM_BOUFFALO_NO_DEINIT
	bool "Disable destructors"
	default n

config PLATFORM_BOUFFALO_GPTIMER_BASE
	bool "General Purpose Timer"
	default y

config PLATFORM_BOUFFALO_GPTIMER_NO_DEINIT
	bool
	default y if PLATFORM_BOUFFALO_NO_DEINIT
	depends on PLATFORM_BOUFFALO_GPTIMER_BASE

config PLATFORM_BOUFFALO_GPTIMER_PM
	bool "Power management"
	default n
	depends on PLATFORM_BOUFFALO_GPTIMER_BASE && PM

config PLATFORM_BOUFFALO_GPTIMER
	bool "Common timer"
	default y
	depends on PLATFORM_BOUFFALO_GPTIMER_BASE

config PLATFORM_BOUFFALO_UART_BASE
	bool "UART"
	default y

config PLATFORM_BOUFFALO_UART_NO_DEINIT
	bool
	default y if PLATFORM_BOUFFALO_NO_DEINIT
	depends on PLATFORM_BOUFFALO_UART_BASE

config PLATFORM_BOUFFALO_UART_PM
	bool "Power management"
	default n
	depends on PM && PLATFORM_BOUFFALO_UART_BASE

config PLATFORM_BOUFFALO_UART_RC
	bool "Runtime configuration"
	default y
	depends on PLATFORM_BOUFFALO_UART_BASE

config PLATFORM_BOUFFALO_UART_WATERMARK
	bool "Watermark calculation"
	default n
	depends on PLATFORM_BOUFFALO_UART_BASE

config PLATFORM_BOUFFALO_SERIAL
	bool "Interrupt-driven serial port driver"
	default y
	depends on PLATFORM_BOUFFALO_UART_BASE

endmenu
