if FAMILY_GENERIC_POSIX
	source "platform/generic/Kconfig"
endif

if FAMILY_LPC11XX || FAMILY_LPC11EXX || FAMILY_LPC13XX || FAMILY_LPC13UXX || FAMILY_LPC17XX || FAMILY_LPC43XX
	source "platform/lpc/Kconfig"
endif

if FAMILY_M03X
	source "platform/numicro/Kconfig"
endif

if FAMILY_STM32F0XX || FAMILY_STM32F1XX
	source "platform/stm32/Kconfig"
endif
