if FAMILY_GENERIC_POSIX
	source "platform/generic/Kconfig"
endif

if FAMILY_IMXRT106X
	source "platform/imxrt/Kconfig"
endif

if FAMILY_LPC11XX || FAMILY_LPC11EXX || FAMILY_LPC13XX || FAMILY_LPC13UXX || FAMILY_LPC17XX || FAMILY_LPC43XX
	source "platform/lpc/Kconfig"
endif

if FAMILY_M03X || FAMILY_M48X
	source "platform/numicro/Kconfig"
endif

if FAMILY_STM32F0XX || FAMILY_STM32F1XX || FAMILY_STM32F4XX
	source "platform/stm32/Kconfig"
endif
