menu "Upper-level drivers"

config PLATFORM_GPIO_BUS
	bool "GPIO Bus"
	default y

config PLATFORM_SDIO_SPI
	bool "SDIO over SPI"
	default y

config PLATFORM_SDCARD
	bool "SD Card driver"
	default y

endmenu

if FAMILY_LPC11XX || FAMILY_LPC11EXX || FAMILY_LPC13XX || FAMILY_LPC17XX || FAMILY_LPC43XX
	source "platform/nxp/kconfig"
endif
