menu "Power settings"

config PM
	bool "Power management"
	default y
	help
	  This enables support for power management features.

endmenu

menu "Peripherals"

config PLATFORM_IMXRT_NO_DEINIT
	bool "Disable destructors"
	default n

config PLATFORM_IMXRT_LPUART_BASE
	bool "UART"
	default y

config PLATFORM_IMXRT_LPUART_NO_DEINIT
	bool
	default y if PLATFORM_IMXRT_NO_DEINIT
	depends on PLATFORM_IMXRT_LPUART_BASE

config PLATFORM_IMXRT_LPUART_PM
	bool "Power management"
	default n
	depends on PM && PLATFORM_IMXRT_LPUART_BASE

config PLATFORM_IMXRT_LPUART_RC
	bool "Runtime configuration"
	default y
	depends on PLATFORM_IMXRT_LPUART_BASE

config PLATFORM_IMXRT_LPUART_WATERMARK
	bool "Watermark calculation"
	default n
	depends on PLATFORM_IMXRT_LPUART_BASE

config PLATFORM_IMXRT_SERIAL
	bool "Interrupt-driven serial port driver"
	default y
	depends on PLATFORM_IMXRT_LPUART_BASE

config PLATFORM_IMXRT_SERIAL_DMA
	bool "Serial port driver with DMA"
	default y
	depends on PLATFORM_IMXRT_LPUART_BASE && PLATFORM_IMXRT_EDMA

endmenu
