menu "Power settings"

config PM
	bool "Power management"
	default y
	help
	  This enables support for power management features.

endmenu

menu "Peripherals"

config PLATFORM_NUMICRO_NO_DEINIT
	bool "Disable destructors"
	default n

config PLATFORM_NUMICRO_ADC_BASE
	bool "ADC"
	default y

config PLATFORM_NUMICRO_ADC_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_ADC_BASE

config PLATFORM_NUMICRO_ADC_SHARED
	bool "Shared ADC"
	default y
	depends on PLATFORM_NUMICRO_ADC_BASE
	help
	  This allows usage of multiple ADC channel objects on the same peripheral.

config PLATFORM_NUMICRO_ADC
	bool "Multichannel ADC with interrupts"
	default y
	depends on PLATFORM_NUMICRO_ADC_BASE

config PLATFORM_NUMICRO_ADC_DMA
	bool "Multichannel ADC with DMA"
	default y
	depends on PLATFORM_NUMICRO_ADC_BASE && PLATFORM_NUMICRO_PDMA

config PLATFORM_NUMICRO_GPTIMER_BASE
	bool "General Purpose Timer"
	default y

config PLATFORM_NUMICRO_GPTIMER_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_GPTIMER_BASE

config PLATFORM_NUMICRO_GPTIMER_PM
	bool "Power management"
	default n
	depends on PLATFORM_NUMICRO_GPTIMER_BASE && PM

config PLATFORM_NUMICRO_GPTIMER
	bool "Common timer"
	default y
	depends on PLATFORM_NUMICRO_GPTIMER_BASE

config PLATFORM_NUMICRO_PDMA
	bool "PDMA"
	default y

config PLATFORM_NUMICRO_PDMA_COUNT
	int "PDMA channel count"
	default 2
	range 2 9
	depends on PLATFORM_NUMICRO_PDMA && FAMILY_M03X

config PLATFORM_NUMICRO_PDMA_PRIORITY
	int "PDMA interrupt priority"
	default 0
	depends on PLATFORM_NUMICRO_PDMA

config PLATFORM_NUMICRO_PININT
	bool "Pin Interrupts"
	default y

config PLATFORM_NUMICRO_PININT_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_PININT

config PLATFORM_NUMICRO_UART_BASE
	bool "UART"
	default y

config PLATFORM_NUMICRO_UART_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART_PM
	bool "Power management"
	default n
	depends on PM && PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART_RC
	bool "Runtime configuration"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_UART_WATERMARK
	bool "Watermark calculation"
	default n
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_SERIAL
	bool "Interrupt-driven serial port driver"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE

config PLATFORM_NUMICRO_SERIAL_DMA
	bool "Serial port driver with DMA"
	default y
	depends on PLATFORM_NUMICRO_UART_BASE && PLATFORM_NUMICRO_PDMA

config PLATFORM_NUMICRO_SPI_BASE
	bool "SPI"
	default y
	help
	  This is the driver for the Serial Peripheral Interface.

config PLATFORM_NUMICRO_SPI_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI_PM
	bool "Power management"
	default n
	depends on PLATFORM_NUMICRO_SPI_BASE && PM

config PLATFORM_NUMICRO_SPI_RC
	bool "Runtime configuration"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI
	bool "Interrupt-driven SPI Master"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE

config PLATFORM_NUMICRO_SPI_DMA
	bool "SPI Master with DMA"
	default y
	depends on PLATFORM_NUMICRO_SPI_BASE && PLATFORM_NUMICRO_PDMA

config PLATFORM_NUMICRO_QSPI_BASE
	bool "QSPI"
	default y
	help
	  This is the driver for the Quad Serial Peripheral Interface.

config PLATFORM_NUMICRO_QSPI_DDR
	bool
	default y if FAMILY_M48X
	depends on PLATFORM_NUMICRO_QSPI_BASE

config PLATFORM_NUMICRO_QSPI_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_NUMICRO_QSPI_BASE

config PLATFORM_NUMICRO_QSPI_PM
	bool "Power management"
	default n
	depends on PLATFORM_NUMICRO_QSPI_BASE && PM

config PLATFORM_NUMICRO_QSPI_RC
	bool "Runtime configuration"
	default y
	depends on PLATFORM_NUMICRO_QSPI_BASE

config PLATFORM_NUMICRO_QSPI
	bool "QSPI Master with DMA"
	default y
	depends on PLATFORM_NUMICRO_QSPI_BASE && PLATFORM_NUMICRO_PDMA

config PLATFORM_USB
	bool "USB"
	default y

config PLATFORM_USB_NO_DEINIT
	bool
	default y if PLATFORM_NUMICRO_NO_DEINIT
	depends on PLATFORM_USB

config PLATFORM_USB_DEVICE
	bool "USB Device"
	default y
	depends on PLATFORM_USB

config PLATFORM_USB_DEVICE_EP_REQUESTS
	int "Endpoint queue size"
	default 4
	depends on PLATFORM_USB_DEVICE

config PLATFORM_USB_DEVICE_FORCE_FS
	bool "Force FS mode"
	default n
	depends on PLATFORM_USB_DEVICE && FAMILY_M48X
	help
	  This forces Full Speed mode on High Speed USB ports.

config PLATFORM_USB_HS
	bool
	default y if FAMILY_M48X
	depends on PLATFORM_USB

config PLATFORM_USB_DEVICE_EP_COUNT
	int
	default 8 if FAMILY_M03X
	default 12 if FAMILY_M48X
	depends on PLATFORM_USB_DEVICE

endmenu

if FAMILY_M03X
	source "platform/numicro/m03x/Kconfig"
endif

if FAMILY_M48X
	source "platform/numicro/m48x/Kconfig"
endif
