menu "Generic drivers"

config GENERIC_BUFFERING_PROXY
	bool "Buffering proxy"
	default y
	help
	  This enables building of a synchronous buffered interface, that wraps
	  an asynchronous interface with input and output streams.

config GENERIC_GPIO_BUS
	bool "GPIO Bus"
	default y

config GENERIC_MMCSD
	bool "MMC/SD cards"
	default y

config GENERIC_SDIO_SPI
	bool "SDIO over SPI"
	default y

config GENERIC_SDIO_SPI_CRC
	bool "Enable CRC checking"
	default y
	depends on GENERIC_SDIO_SPI

config GENERIC_SOFTWARE_TIMER
	bool "Software Timer Factory"
	default y

config GENERIC_SOFTWARE_TIMER_32
	bool "Extending 32-bit timer"
	default y

config GENERIC_SOFTWARE_TIMER_64
	bool "Extending 64-bit timer"
	default y

config GENERIC_WQ
	bool "Work Queue"
	default y

config GENERIC_WQ_LOAD
	bool "Gather performance data"
	default n
	depends on GENERIC_WQ
	help
	  This enables calculation of the idle cycles of the work queue.
	  The number of idle cycles depends on the processor load.
	  Power management cannot be used in this mode.

config GENERIC_WQ_NONSTOP
	bool "Disable stop functions"
	default n
	depends on GENERIC_WQ

config GENERIC_WQ_PM
	bool "Enable power management"
	default y
	depends on GENERIC_WQ

config GENERIC_WQ_PROFILE
	bool "Enable profiling support"
	default n
	depends on GENERIC_WQ
	help
	  This enables support for profiling and statistics functions.
	  Information about task execution times and latency will be available.

config GENERIC_WQ_IRQ
	bool "Work Queue on IRQ"
	default y

config GENERIC_WQ_IRQ_NONSTOP
	bool "Disable stop functions"
	default n
	depends on GENERIC_WQ_IRQ

config GENERIC_WQ_IRQ_PROFILE
	bool "Enable profiling support"
	default n
	depends on GENERIC_WQ_IRQ
	help
	  This enables support for profiling and statistics functions.
	  Information about task execution times and latency will be available.

endmenu
