menu "Generic drivers"

config GENERIC_GPIO_BUS
	bool "GPIO Bus"
	default y

config GENERIC_SDIO_SPI
	bool "SDIO over SPI"
	default y

config GENERIC_SDIO_SPI_CRC
	bool "Enable CRC checking"
	default y
	depends on GENERIC_SDIO_SPI

config GENERIC_SDCARD
	bool "SD Card driver"
	default y

config GENERIC_SOFTWARE_TIMER
	bool "Software Timer Factory"
	default y

config GENERIC_WQ
	bool "Work Queue"
	default y
	depends on CORE_CORTEX_M0 || CORE_CORTEX_M3 || CORE_CORTEX_M4

config GENERIC_WQ_PM
	bool "Use power management"
	default y
	depends on GENERIC_WQ

endmenu
