config CORE_CORTEX_NO_DEINIT
	bool "Disable destructors"
	default n

config CORE_CORTEX_FPU
	bool "FPU"
	default y
	depends on CORE_CORTEX_M4
	help
	  This enables Floating Point Unit.

config CORE_CORTEX_SYSTICK
	bool "SysTick"
	default y
	depends on CORE_CORTEX_M0 || CORE_CORTEX_M3 || CORE_CORTEX_M4
	help
	  This is the driver for the System Timer peripheral.

config CORE_CORTEX_SYSTICK_NO_DEINIT
	bool
	default y if CORE_CORTEX_NO_DEINIT
	depends on CORE_CORTEX_SYSTICK
